/* Styles here! */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: darkgray;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content: center;
    align-items: center;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    margin: auto; 
    padding: 0;
    border: 0;
    max-width: 1280px;
}



.endavaImageCont{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-position:center top;
    margin: 0; 
    padding: 0;
    background-color: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 70%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.centredTextCont{
    width: 47%;
    padding: 0;
    margin: 0; 
    height: min-content;
}

.centredText{
    color: white;
    font-size: 94px;
    font-family: "Oswald"; 
    text-align: center;
    font-style: italic;
    font-weight: 200;
    line-height: 6rem;
}

.orangeLittleBox{
    background-color: #ff3f10;
    width: 17%;
    height: 2%;
    position: relative;
    top: -10%;
    margin: auto;
    
}

.finalTextCont{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 23%;
    width: 100%;
    z-index: 1;
    margin: 0; 
    padding: 0;
}

.textCount{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    width: 968px;
    height: 30%;
    position: relative;
    top: 10%;
    bottom: 20%;
    margin: 0; 
    padding: 0; 
    
}

.finalParagraph{
    height: auto; 
    width: 100%; 
    margin: 0; 
    padding: 0;
    border: 0;
    font-family: "Arial"; 
    font-size: 18px; 
}

.navBarCont{
    background-color: #ff3f10;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 7%;
    width: 100%;
    align-items: stretch;
    z-index: 1;
    margin: 0; 
    padding: 0;
    border: 0;
}

.firstDivision{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logoContainer{
    display: flex;
    justify-content: center;
    margin-left:7%;
    width: 50%;
    height: 80%;
    margin-bottom: auto;
    margin-top: auto;
}

.logo{
    height: inherit;
    width: auto; 
}

.secondDivision{
    width: 73%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.thirdDivision{
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}

.searchCont{
    color: white;
    margin-right: 15%;
    width: 50%;
    height: 60%;
    font-size: 1.5rem;
    font-weight: lighter;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}



/*header{*/
    /*position: absolute;*/
    /*height: 10%;*/
    /*width: 70%;*/
    /*left: 10%;*/
    /*top: 5%;*/
/*}*/

/*.menu {*/
    /*background-color: #ff3f10;*/
    /*margin: 10px;*/
/*}*/

/*.menuItem{*/
    /*display: inline-block;*/
    /*padding: 0px 5px;*/
    /*font-size: 24px;*/
    /*font-weight: bold;*/
/*}*/
/*.menuItem :hover{*/
    /*background-color:  white;*/
    /*color: #ff3f10;*/
    /*text-align: center;*/
/*}*/

/*.menuItem a {*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 18px 16px;*/
    /*text-decoration: none;*/
    /*display: block;*/
/*}*/

/*.logo{*/
    /*float:left;*/
/*}*/
/*.logo img {*/
    /*color: red;*/
    /*background-color: silver;*/
    /*width: 50px;*/
    /*padding: 0;*/
/*}*/


/*.dropDown{*/
    /*position: absolute;*/
    /*margin: 25px;*/
    /*opacity: 0;*/
    /*z-index: 1;*/
/*}*/

/*.dropDown:hover{*/
    /*opacity: 1;*/
/*}*/

/*.dropDownItem{*/
    /*color: black;*/
    /*background-color: white;*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*list-style: none;*/
/*}*/

/*.dropDownItem a{*/
    /*color: black;*/
    /*font-size: 17px;*/
    /*font-style: italic;*/
    /*padding: 12px 16px;*/
    /*text-decoration: none;*/
    /*text-align: left;*/

/*}*/

