.menu {
    display: inline-block ;
    position: relative;
    margin: 0;
    width: 100%;

}

.menuItem{
    display: inline-block ;
    padding: 0px 5px;
    font-size: 24px;
    font-weight: bold;
}
.menuItem :hover{
    background-color:  white;
    color: #ff3f10;
    /*text-align: center;*/
}

.menuItem a {
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 24px;
    display: block;
}



.dropDown{
    position: relative;
    margin: 25px;
    opacity: 0;
    z-index: 1;
}

.dropDown:hover{
    opacity: 1;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}



.dropdown-content a {
    text-align: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: normal;
    font-style: italic;
    display: block;
}




.show {

    display: block;}